mixin tacticHeader(banner, items)
	.lt-tactic-header
		if banner.url
			a.lt-tactic-header__banner(href=banner.url, title=banner.label)
				img(src=banner.image, alt=banner.label)
		else
			.lt-tactic-header__banner
				img(src=banner.image, alt=banner.label)
		nav.lt-tactic-header__nav
			//- input#accordion(type="checkbox", name="accordion", style="display: none")
			//- label.lt-tactic-header__accordion(for="accordion")
			//- 	span Menú
			//- 	span.burger
			//- 		span 
			//- 		span 
			//- 		span 
			ul.lt-tactic-header__list
				each item in items
					li.lt-tactic-header__list__item
						a.lt-tactic-header__list__link(
							href=item.url,
							class=`${item.image ? 'lt-tactic-header__list__link--image' : ''}`
						)
							if item.image
								img(src=item.image, alt=item.label)
							span= item.label

-
	$banner = {
		label: 'Especial Baños',
		slug: 'especial-banos',
		url: '#',
		image: 'https://via.placeholder.com/1280x90/888888/ffffff'
	}
	$items = [
		{
			label: 'Sanitarios',
			slug: 'sanitarios',
			image: 'https://via.placeholder.com/100/888888/ffffff',
			url: '#'
		},
		{
			label: 'Muebles Vanitorios',
			slug: 'muebles-sanitarios',
			image: 'https://via.placeholder.com/100/888888/ffffff',
			url: '#'
		},
		{
			label: 'Shower, Cabinas y Mamparas',
			slug: 'shower-cabinas-mamparas',
			image: 'https://via.placeholder.com/100/888888/ffffff',
			url: '#'
		},
		{
			label: 'Grifería',
			slug: 'griferia',
			image: 'https://via.placeholder.com/100/888888/ffffff',
			url: '#'
		},
				{
			label: 'Accesorios de Baño',
			slug: 'accesorios-bano',
			image: 'https://via.placeholder.com/100/888888/ffffff',
			url: '#'
		},
		{
			label: 'Organización y Limpieza',
			slug: 'organizacion-limpieza',
			image: 'https://via.placeholder.com/100/888888/ffffff',
			url: '#'
		}

	]							
+tacticHeader($banner, $items)
